.orderSummary{
    color: #333333;
    font-size: 1rem;
}
.checkout{
    font-weight: bold;
    color: #eb1c24;
}
.information{
    display: flex;
    justify-content: center;
}
.summaryBtn{
    display: flex;
    justify-content: center;
}
