.model{
    min-height: 400px;
    min-width: 600px;
    padding: 20px 40px;
    background-color: white;
    position: absolute;
    top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-out;   
}