.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

